- 
  var documents = [
    {
      date: '11 май',
      number: '821',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '98',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '1021',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '51',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '48',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '21',
      type: 'счет',
      summ: '5 456 .00'
    }
  ]
