- 
  var documents = [
    {
      date: '11 май',
      number: '821',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '98',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '1021',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '51',
      type: 'счет',
      summ: '235 456 .00'
    },
    {
      date: '11 май',
      number: '48',
      type: 'счет-фактура',
      summ: '15 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '21',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '45',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '234',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '1289',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '721',
      type: 'счет',
      summ: '235 456 .00'
    },
    {
      date: '11 май',
      number: '48',
      type: 'счет-фактура',
      summ: '15 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '21',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '987',
      type: 'счет-фактура',
      summ: '15 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '654',
      type: 'счет',
      summ: '5 456 .00'
    },    
    {
      date: '11 май',
      number: '788',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '22',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '10',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '111',
      type: 'счет',
      summ: '235 456 .00'
    },
    {
      date: '11 май',
      number: '901',
      type: 'счет-фактура',
      summ: '15 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '443',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '563',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '998',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '1233',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '2122',
      type: 'счет',
      summ: '235 456 .00'
    },
    {
      date: '11 май',
      number: '133',
      type: 'счет-фактура',
      summ: '15 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '877',
      type: 'счет',
      summ: '5 456 .00'
    },
    {
      date: '11 май',
      number: '55',
      type: 'счет-фактура',
      summ: '15 456 .00'
    },
    {
      date: '24 сен 2017',
      number: '555',
      type: 'счет',
      summ: '5 456 .00'
    }
  ]
