- 
  var payments = [
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    },
    {
      date: '11 май',
      number: '821',
      summ: '5 456 .00',
      descr: 'Размещение рекламных материалов на проекте Яндекс.Директ .СЧЕТ № Б-425941424-1 от 12 октября 2017 г. В т.ч. НДС 18% - 762,71 руб.'
    }
  ]
