.account-menu {
  position: relative;
  margin-left: auto;
}

.account-menu__list {
  @include list-reset;

  display: none;

  position: absolute;
  top: -8px;
  right: 0;

  padding-top: 8px;
  padding-bottom: 8px;

  color: $font-base-color;

  background-color: $base-bg-color;
  border-radius: $border-radius;
  box-shadow: $shadow-menu;
}

.account-menu__button {
  width: 100%;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: $font-light-color;
  }
}

.account-menu__header {
  padding-left: 24px;
  line-height: 48px;
  cursor: pointer;
  @include transition;

  &:hover {
    background-color: $secondary-bg-color;
    @include transition;
  }
}

.account-menu__icon {
  position: absolute;
  top: 20px;
  right: 12px;

  color: $font-secondary-color;
}

.account-menu__item {
  padding: 4px 24px;

  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;

  .button {
    font-size: 14px;
  }
}

.account-menu__title {
  display: block;

  font-size: 13px;
  color: $font-secondary-color;
}

.account-menu__value {
  display: block;
}

.account-menu__link {
  color: $accent-color;
  @include transition;

  &:hover {
    color: $accent-color-hover;
    @include transition;
  }
}

.account__logout {
  display: block;
  padding: 12px 24px;

  font-weight: 500;
}
