.button {
  line-height: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button--primary {
  box-sizing: border-box;

  min-width: 64px;
  height: 64px;

  color: $font-light-color;

  background-color: $accent-color;
  border-radius: 32px;
  box-shadow: $shadow-2;
}
