.button {
  line-height: inherit;
  color: inherit;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.button--primary {
  min-width: 64px;
  height: 64px;

  background-color: $accent-color;
  border-radius: 50%;
  box-shadow: $shadow-2;
}
