.header {
  padding-top: 12px;
  padding-bottom: 12px;

  color: $font-light-color;
  background-color: $accent-dark-color;
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo {
  line-height: 0;
}

.logo__img {
  width: 200px;
  height: 48px;
}

.header__nav {
  margin-left: 56px;
}

.nav {
  @include list-reset;
  display: flex;

  font-size: 18px;
  font-weight: 500;
  color: $font-secondary-light-color;
}

.nav__item {
  & + & {
    margin-left: 32px;
  }
  &.active {
    color: $font-light-color;
  }
}

.header__button {
  margin-left: auto;
  margin-right: 16px;
}
