.header {
  position: relative;
  box-sizing: border-box;

  padding-top: 12px;
  padding-bottom: 12px;

  height: 72px;

  color: $font-light-color;
  background-color: $accent-dark-color;

  transform-origin: top center;
  transform: scaleY(1);
  @include transition;
  z-index: 1;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__back {
  margin-right: 48px;
  @include transition;

  &:hover {
    opacity: 0.7;
    @include transition;
  }
}

.logo {
  line-height: 0;
}

.logo__img {
  width: 200px;
  height: 48px;
}

.header__nav {
  margin-left: 56px;
}

.nav {
  @include list-reset;
  display: flex;

  font-size: 18px;
  font-weight: 500;
  color: $font-secondary-light-color;
}

.nav__item {
  @include transition;
  & + & {
    margin-left: 32px;
  }
  &:hover {
    color: $font-light-color;
    @include transition;
  }
  &.active {
    color: $font-light-color;
  }
}

.header__button {
  margin-left: 156px;
}
