// Default variables
$font_size: 16px !default;
$font_size_small: 12px !default;

$input_border_radius: 5px !default;
$input_height: 48px !default;
$input_height_small: 36px !default;
$dropdown_padding: 24px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: $secondary-bg-color !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: $gray !default;

// Style the dropdown
.dropdown-button,
.select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: $border-radius;
  box-sizing: border-box;
  clear: both;
  color: inherit;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: $font_size;
  font-weight: normal;
  outline: none;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: auto;

  // Arrow
  &:after {
    background-image: url('../img/select-down.svg');
    background-position: center;
    content: '';
    height: 24px;
    opacity: 0.54;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: all 0.15s ease-in-out;
    width: 24px;
  }

  &.open {
    @extend :active;
    &:after {
      transform-origin: 50% 50%;
      transform: rotate(-180deg);
      transition: all 0.15s ease-in-out;
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;
    &:after {
      border-color: lighten($arrow_color, 20%);
    }
  }
}

.select {
  padding-left: 20px;
  padding-right: 44px;

  &:active, &:focus {
    border-color: $accent-color;
  }

  &::after {
    top: 16px;
    right: 16px;
  }
}

.dropdown-button {
  border: none;
  box-shadow: $shadow-2;
  padding-left: $dropdown_padding;
  padding-right: $dropdown_padding + 24;
  height: $input_height;
  line-height: $input_height - 2;

  &:hover {
    border-color: darken($gray_light, 5%);
  }

  &:active, &:focus {
    border-color: $primary_light;
  }

  & .option.disabled {
    background-color: transparent;
    color: $gray;
    cursor: default;
  }
}

  // List and options
  .list {
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $shadow-menu;
    box-sizing: border-box;
    margin-top: -56px;
    opacity: 0;
    overflow: hidden;
    padding: 8px 0;
    pointer-events: none;
    position: absolute;
    top: 100%; left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- $input_height / 2);
    transition: all .2s cubic-bezier(0.5, 0, 0, 1.25), opacity .15s ease-out;
    width: auto;
    min-width: 100%;
    z-index: 2;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    font-weight: 400;
    line-height: $input_height;
    list-style: none;
    min-height: $input_height;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;
    &:hover, &.focus, &.selected.focus {
      background-color: $gray_lighter;
    }
  }

  .select .option {
    line-height: 56px;
    min-height: 56px;

    &[data-value="add"] {
      position: relative;
      padding-left: 56px;
      &::before {
        content: "";
        position: absolute;
        top: 16px;
        left: 20px;
        width: 24px;
        height: 24px;
        background-image: url("../img/plus.svg");
        opacity: 0.54;
      }
    }
  }

// Use display instead of opacity for IE <= 10
.no-csspointerevents .dropdown-button {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}

.select-input {
  position: relative;
  height: 56px;

  &__input {
    position: absolute;
    width: 100%;
  }
}
