.icon {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	fill: currentColor;
	vertical-align: middle;
}

// 
// .icon-account {
// 	font-size:(24/10)*1rem;
// 	width:(24/24)*1em;
// }
// 
// .icon-arrow_downward {
// 	font-size:(24/10)*1rem;
// 	width:(24/24)*1em;
// }
// 
// .icon-close {
// 	font-size:(24/10)*1rem;
// 	width:(24/24)*1em;
// }
// 
// .icon-download {
// 	font-size:(17/10)*1rem;
// 	width:(14/17)*1em;
// }
// 
