.toolbar {
  transition: background-color 0.2s;
}

.toolbar__inner {
  display: flex;

  margin: auto;

  padding-top: 24px;
  padding-bottom: 24px;

  width: $content-width;
}

.toolbar__search {
  position: relative;
  flex-grow: 2;
  border-radius: $border-radius;
  box-shadow: $shadow-2;
}

.toolbar__search-icon {
  position: absolute;
  top: 8px;
  left: 16px;

  width: 32px;
  height: 32px;

  opacity: 0.24;
  @include transition;
}

.toolbar__search-input {
  padding-left: 64px;

  width: 100%;
  height: 48px;
  line-height: 48px;

  &:hover {
    border-color: transparent;
  }
}

.toolbar__item {
  & + & {
    margin-left: 24px;
  }
  &:hover {
    box-shadow: $shadow-hover;
    @include transition;
  }
}

.toolbar__filter-range {
  min-width: 140px;
}

.toolbar__documents {
  width: 190px;
}
