.toolbar  
  input.input.input--search.toolbar__search(
    type="search"
    placeholder="Поиск"
    )
  if toolbarBtn
    each button in toolbarBtn
      a.button(href="javascript:void(0);")= button
  select.filter.nice-select
    - var ranges = ["Месяц", "Квартал", "Год", "Диапазон..."]
      each item in ranges
        option(
        data-display=(item ==="Диапазон...") ? "23 фев – 14 май" : undefined
        )= item
  
