- 
  var mainMenu = [
    'Заказы',
    'Оплаты',
    'Документы'
  ]
  
  var accountMenu = [
    {
      title: 'Почта',
      value: 'kostantin@konstantinopolsky.ru',
      link: 'Изменить пароль'
    },
    {
      title: 'Телефон',
      value: '+7 (911) 810-76-77'
    },
    {
      title: 'ИНН',
      value: '78013455321'
    },
    {
      title: 'Договор',
      value: 'ПРР.2017 - 05 от 01.02.2017'
    }
  ]
  
  var statusMap = {
    'in progress': 'Изменить заказ',
    'approved': 'Изменить заказ',
    'done': 'Повторить заказ',
    'canceled': 'Повторить заказ'
  }
  
  var orders = [
    {
      status: 'in-progress',
      cancel: true,
      date: 'Сегодня',
      time: '11:00',
      address: 'Улица Латышских стрелков, д.31/3',
      phone: '+7 (940) 690-60-68',
    },
    {
      status: 'approved',
      cancel: true,
      date: 'Завтра',
      time: '11:00',
      address: 'Улица Латышских стрелков, д.31/3',
      phone: '+7 (940) 690-60-68',
      workers: '22 чел',
      documents: ['Счет 25', 'Счет 768']
    },
    {
      status: 'done',
      date: 'Сегодня',
      time: '11:00',
      address: 'Улица Латышских стрелков, д.31/3',
      summ: '1 456 789',
      penny: ' .36',
      phone: '+7 (940) 690-60-68',
      workers: '22 чел',
      duration: '3 часа 30 мин',
      documents: ['Счет 25', 'Счет 768', 'Акт 104', 'Счет-фактура 23']
    },
    {
      status: 'canceled',
      date: 'Сегодня',
      time: '11:00',
      address: 'Улица Латышских стрелков, д.31/3',
      summ: '1 456 789',
      penny: ' .36',
      phone: '+7 (940) 690-60-68',
      workers: '22 чел',
      duration: '3 часа 30 мин',
      documents: ['Счет 25', 'Счет 768', 'Акт 104', 'Счет-фактура 23', 'Счет 25', 'Счет 768', 'Акт 104', 'Счет-фактура 23', 'Счет 25', 'Счет 768', 'Акт 104', 'Счет-фактура 23', 'Счет 25', 'Счет 768', 'Акт 104', 'Счет-фактура 23']
    }
  ]
