.modal#modal-cancel-order
  .modal__inner
    .modal__content.modal__content--center
      button.button.icon--close.modal__close
      p.modal__title Вы уверены, что хотите отменить заказ?
        .modal__buttons
          button.button.button--secondary.button--secondary-small Да
          button.button.button--primary.button--primary-small Нет
    .modal__footer
