.modal#modal-change-password
  .modal__inner
    .modal__content
      button.button.icon--close.modal__close
      p.modal__title Изменение пароля
      form.form.modal__form
        .form__group
          label.label(for="current-password") Текущий пароль
          input.input.input--full-width#current-password(type="password")
        .form__group
          label.label(for="new-password") Новый пароль
          input.input.input--full-width#new-password(type="password")
        .form__group
          label.label(for="repeat-password") Повторите новый пароль
          input.input.input--full-width#repeat-password(type="password")
        .form__group.modal__submit
          button.button.button--primary.button--action
            +icon("check").button__icon
    .modal__footer
