extends pug/layout
prepend title
  - var title = "Оплаты"
block content
  .table.payments
    .table__header.sort
      .sort__item.sort__item--active.payments__date Дата
      .sort__item.payments__number Номер
      .sort__item.payments__summ Сумма
      .payments__descr Назначение платежа
    .table__body
      each payment in payments
        .table__row.payment__item
          .payments__date= payment.date
          .payments__number= payment.number
          .payments__summ
            span.summ__summ 5 456
            |
            |
            span.summ__penny .00
          .payments__descr= payment.descr
append modals
  include pug/modal/bill
prepend message
  // после отправки счета на почту "Акт отправлен на mail@mail.ru"
