@import "utils/normalize.scss";
@import "utils/variables_and_mixins.scss";
@import "utils/global.scss";
@import "utils/animations.scss";

@import "blocks/icon.scss";
@import "blocks/button.scss";
@import "blocks/input.scss";
@import "blocks/select.scss";
@import "blocks/message.scss";
@import "blocks/tooltips.scss";

@import "blocks/page-header.scss";
@import "blocks/header.scss";
@import "blocks/toolbar.scss";
@import "blocks/account.scss";
@import "blocks/login.scss";
@import "blocks/order.scss";
@import "blocks/table.scss";
@import "blocks/documents.scss";
@import "blocks/payments.scss";
@import "blocks/add-order.scss";
@import "blocks/form.scss";
@import "blocks/label.scss";
@import "blocks/modal.scss";
@import "blocks/footer.scss";

.hidden {
  display: none;
}

.text-align-r {
  text-align: right;
}

.help {
  display: inline-block;
  margin-left: 6px;

  width: 16px;
  height: 16px;

  font-size: 13px;

  background-image: url("../img/help.svg");
  opacity: 0.32;
  @include transition-custom(0.5s);

  &:hover {
    opacity: 1;
    @include transition-custom(0.5s);
  }
}

.modal-opened {
  overflow: hidden;
}
